################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.emulationstation
/emulationstation
/emulators
/installers
/roms
/bios
/start-es.log
/tools
/autoconfigs
*.log
/EmulationLaunchers/fs-uae/*.zip
/EmulationLaunchers/fs-uae/*.xml
/EmulationLaunchers/fs-uae/**/*
/config/input.xml
config/input.xml
/savedata