################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.emulationstation
/emulationstation
/emulators
/installers
/roms
/bios
/start-es.log
